h1, p {
    color: black
}

h1 {
    color: red;
}

#titulo1{
    color: green
}

body {
    color: aqua;
}

/* p {
    background-color: brown;
}

#audio {
    color: red;
    background-color: black;
}

#video {
    color: white;
    background-color: brown;
} */