#login-form-div{
    background: linear-gradient(to right, pink, bisque);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: fit-content;
    position: fixed;
    padding: 20px 30px 20px 30px;

    align-items:center ;
    border-radius: 20px;
}

body{
    background-color: rgb(231, 249, 255);
}

*{
    border-radius: 16px;
    box-sizing: border-box;
}

img{
    height: 100px;
    width: 400px;
}

#email, #senha{
    outline: none;
    padding-left: 10px;
}

input:hover{
    border: lightgreen 3px solid;
}

#email:focus, #senha:focus{
    border: lightblue 3px solid;
    outline: none;
}

#login{
    background-color: rgb(35, 196, 35);
    /* border: lightblue 3px solid; */
}

#login:hover{
    background-color: rgb(49, 217, 49);
    cursor: pointer;
}

#reset{
    background-color: rgb(222, 54, 54);
}

#reset:hover{
    cursor: pointer;
    background-color: rgb(226, 78, 103);
}

input, label{
    width: 100%;
    margin-bottom: 10px;
    height: 60px;
    border: none;
    display: block;
    font-size: 2em;
}

label{
    height: fit-content;
    margin-bottom: 2px;
}

a{
    font-size: 1.5em;
}