h1{
    color: 	red;
    background-color: black;
}

p{
    color: white;
    background-color: blueviolet;
}

#prova{
    color: red;
    background-color: black;
    padding: 10px;
}

p{
    color: white;
    background-color: coral;
}
